#super-film {
    .calendar {
        padding-top: 10px;
    }

    .calendar-header {
        display: flex;
        justify-content: space-between;
        padding: 8px;
        background-color: $light-grey;
        font-weight: 600;
    }

    .calendar-chevron {
        cursor: pointer;
        border-radius: 5px;
        color: rgba(93,93,93,1);
    }

    .calendar-chevron-active {
        &:active, &:focus {
            background-color: $primary;
            color: $light;
        }
    }

    .calendar-chevron-disable {
        &:active, &:focus {
            background-color: $secondary;
            color: $light;
        }
    }

    .calendar-body {
        min-width: 360px;
        height: 310px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        background-color: $secondary;
    }

    .calendar-item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        color: $dark;
        font-size: 17px;
        border: 1px solid $light-grey;
        line-height: 1;
        cursor: pointer;

        &:active, &:focus {
            border: 1px solid $light-red;
            font-weight: 600;
        }
    }

    .calendar-item-disable {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        color: $light-grey;
        font-size: 17px;
        border: 1px solid $light-grey;
        line-height: 1;
    }
}