#super-film {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    .index-1000 {
        z-index: 1000;
    }

    .page-styles {
        padding: 71px 0px 0px 0px !important;
        position: relative;
    }
}